## Java

*.class
*.war
*.ear
hs_err_pid*

## Android Studio and Intellij and Android in general
/gdxmachine-platform-android/src/main/jniLibs
/gdxmachine-platform-android/src/main/assets/*
!/gdxmachine-platform-android/src/main/assets/README.md

.idea/
*.ipr
*.iws
*.iml
/gdxmachine-platform-android/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/gdxmachine-platform-android/bin/
/gdxmachine-framework/bin/
/gdxmachine-platform-desktop/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

/build/
/gdxmachine-platform-android/build/
/gdxmachine-framework/build/
/gdxmachine-platform-desktop/build/

/nbbuild/
/gdxmachine-platform-android/nbbuild/
/gdxmachine-framework/nbbuild/
/gdxmachine-platform-desktop/nbbuild/

/dist/
/gdxmachine-platform-android/dist/
/gdxmachine-framework/dist/
/gdxmachine-platform-desktop/dist/

/nbdist/
/gdxmachine-platform-android/nbdist/
/gdxmachine-framework/nbdist/
/gdxmachine-platform-desktop/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-device.setting

## OS Specific
.DS_Store
Thumbs.db

local.properties
*/build